@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*===================================================*/
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding: 0px 10px 0px 10px;
}

.mainimage {
  height: 769px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background: url(../img/mainimg.jpg) no-repeat;
  background-position: top;
  background-size: cover;
  padding: 41px 0px 71px 0px;
}
.mainimage__button {
  color: #fff;
  background: transparent;
  letter-spacing: 3.7px;
}
.mainimage__button:hover {
  color: #57bfe8;
}
.mainimage__button:active {
  color: #fff;
}
.mainimage img {
  cursor: pointer;
}

.titles {
  color: #fff;
}
.titles__title {
  font-family: "Bebas Neue", cursive;
  font-size: 60px;
  line-height: 70px;
}
.titles__subtitle {
  font-size: 16px;
  line-height: 19px;
}

.menu {
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.menu__logo {
  cursor: pointer;
}

.nav {
  color: #48555b;
}
.nav__links {
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  gap: 45px;
  color: #48555b;
}
.nav__link {
  cursor: pointer;
}
.nav__link:hover {
  color: #00a4e5;
}
.nav__link:active {
  color: #48555b;
}

.ourstory__header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-top: 57px;
}
.ourstory__content {
  display: flex;
  gap: 80px;
  margin-top: 65px;
}
.ourstory__left {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  color: #48555b;
}
.ourstory__right {
  flex: 1 1 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.fa-solid img {
  position: fixed;
  bottom: 150px;
  right: 50px;
  height: 50px;
  cursor: pointer;
  -webkit-animation: arrowtotop 2s linear;
          animation: arrowtotop 2s linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  z-index: 100;
}
.fa-solid img:hover {
  -webkit-animation: none;
          animation: none;
}
.fa-solid img:active {
  bottom: 145px;
  right: 46px;
  height: 60px;
}

._hide-btn {
  opacity: 0;
}

._show-btn {
  opacity: 1;
  transition: 0.55s;
}

@-webkit-keyframes arrowtotop {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.55;
  }
  100% {
    opacity: 1;
  }
}

@keyframes arrowtotop {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.55;
  }
  100% {
    opacity: 1;
  }
}
.header__title {
  font-weight: 600;
  color: #48555b;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 2.30625px;
}
.header__line {
  width: 50px;
  margin-top: 10px;
  border: 2px solid #00a4e5;
}

.left__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.1875px;
}
.left__title span {
  color: #00a4e5;
}
.left__text {
  max-width: 412px;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.1875px;
  margin-top: 30px;
}

.right__image-title {
  width: 50px;
  letter-spacing: 0.1875px;
  font-size: 24px;
  line-height: 29px;
  margin: 19px 0px 0px 15px;
  color: #fff;
  font-weight: 700;
}
.right__image-1 {
  height: 100%;
  width: 100%;
  background: url(../img/ourStory1.jpg) no-repeat;
}
.right__image-2 {
  height: 100%;
  width: 100%;
  background: url(../img/ourStory2.jpg) no-repeat;
}
.right__image-3 {
  height: 100%;
  width: 100%;
  background: url(../img/ourStory3.jpg) no-repeat;
}

.capabilities {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 120px;
}
.capabilities__title {
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 2.30625px;
  font-weight: 700;
  color: #48555b;
  text-align: center;
}
.capabilities__title::after {
  content: "";
  border: 2px solid #00a4e5;
  display: flex;
  flex-direction: column;
  width: 50px;
  top: 0;
  left: 0;
  margin-top: 10px;
}
.capabilities__text {
  max-width: 440px;
  text-align: left;
  font-size: 11px;
  line-height: 19px;
  letter-spacing: 0.2px;
  color: #48555b;
  padding: 0px 25px 0px 25px;
}
.capabilities__button {
  width: 150px;
  height: 40px;
  color: #fff;
  background: #00a4e5;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.5px;
  padding-top: 5px;
}
.capabilities__button:hover {
  background: #00aff4;
}
.capabilities__button:active {
  background: #00a4e5;
}

.row {
  display: flex;
  gap: 28px;
  color: #48555b;
  margin-top: 78px;
}
.row__block {
  flex: 0 1 33, 33%;
  display: flex;
  flex-direction: column;
  min-height: 330px;
  padding: 38px 22px 38px 22px;
  border: 1px solid #e6e6e6;
}

.block__img {
  margin-bottom: 25px;
}
.block__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.426667px;
  margin-bottom: 15px;
}
.block__text {
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.1875px;
}

.amasing {
  background: url(../img/bg-bottom.jpg) no-repeat;
  background-position: top;
  background-size: cover;
  height: 499px;
  margin-top: 100px;
}
.amasing__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 110px;
}
.amasing__title {
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.15px;
  font-weight: 700;
  color: #48555b;
}
.amasing__button {
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 10px;
  line-height: 15px;
  background: #00a4e5;
  height: 40px;
  width: 150px;
  color: #fff;
  margin-top: 35px;
}
.amasing__button:hover {
  background: #00aff4;
}
.amasing__button:active {
  background: #00a4e5;
}

.signup {
  position: relative;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #171819;
}
.signup__content {
  width: 100%;
  padding: 0px 128px 0px 128px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}
.signup__title {
  color: #fff;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.84px;
  padding: 0px 15px 0px 0px;
}
.signup__input {
  display: flex;
  align-items: center;
}
.signup__input input {
  min-width: 250px;
  height: 40px;
  border: 1px solid #979797;
  border-right: 0;
  padding: 11px 0px 10px 16px;
  transition: all 0.25s linear;
}
.signup__input input:focus {
  box-shadow: 0 0 10px #00a4e5;
}
.signup__button {
  height: 40px;
  width: 150px;
  background: #00a4e5;
  color: #fff;
  letter-spacing: 0.5px;
  font-weight: 600;
  font-size: 13px;
  line-height: 15px;
}
.signup__button:hover {
  background: #00aff4;
}
.signup__button:active {
  background: #00a4e5;
}
.signup::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.9) url(../img/отправка.png) center/50px no-repeat;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s linear 0s;
}

._error {
  box-shadow: 0 0 15px #ce0000;
}

._sending::after {
  opacity: 1;
  visibility: visible;
}

.footer {
  height: 242px;
  background: #141a20;
  color: #fff;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  padding: 42px 5px 42px 5px;
  max-height: 100%;
}

.content__logo img {
  margin-bottom: 15px;
  cursor: pointer;
}
.content__sochials {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  margin-top: 34px;
  cursor: pointer;
}

.logo__title {
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.846154px;
  margin-bottom: 19px;
}
.logo__subtitle {
  max-width: 260px;
  font-size: 11px;
  line-height: 19px;
  letter-spacing: 0.85px;
  padding: 0px 10px 0px 0px;
}

.links {
  padding: 0px 10px 0px 0px;
}
.links__title {
  margin-bottom: 10px;
}
.links li {
  font-size: 11px;
  line-height: 25px;
  letter-spacing: 0.846154px;
  cursor: pointer;
}
.links li:hover {
  color: #00a4e5;
}
.links li:active {
  color: #ffffff;
}

.contacts {
  max-width: 112px;
}
.contacts__contact {
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.846154px;
}
.contacts div {
  margin-bottom: 15px;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.846154px;
}

.copy {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #171819;
}
.copy__text {
  color: #fff;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.846154px;
}

@media (max-width: 880px) {
  .right__image-title {
    font-size: 20px;
    line-height: 22px;
  }
}
@media (max-width: 770px) {
  .right__image-title {
    font-size: 18px;
    line-height: 20px;
  }
  .capabilities__title::after {
    min-width: 50px;
    left: 0;
    right: 0;
    width: auto;
  }
  .amasing {
    margin: 30px 0px 0px 0px;
  }
}
@media (max-width: 730px) {
  .right__image-title {
    font-size: 16px;
    line-height: 20px;
  }
  .ourstory__content {
    gap: 40px;
  }
  .amasing {
    margin: 10px 0px 0px 0px;
  }
  .capabilities__button {
    font-size: 10px;
    line-height: 12px;
    padding: 3px 10px 0px 10px;
  }
}
@media (max-width: 670px) {
  .nav__links {
    gap: 20px;
  }
  .ourstory__right {
    flex-direction: column;
    flex: 1 1 25%;
  }
  .ourstory__content {
    gap: 80px;
  }
  .capabilities {
    margin: 80px 0px 0px 0px;
  }
  .row {
    flex-direction: column;
  }
  .row__block {
    padding: 15px 22px 15px 22px;
    min-height: 0;
  }
  .footer {
    height: auto;
  }
  .footer__content {
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
  }
  .links {
    padding: 0px 0px 0px 0px;
  }
}